$width: {{width}};
$height: {{height}};

*, *:before, *:after {
    box-sizing: border-box;
}

/* Base Styles
--------------------------------------------------------------------------- */
#ad {
    display: block;
    absolute: top left right bottom;
    margin: auto;
    width: $width;
    height: $height;
    background: #000;
    overflow: hidden;
    user-select: none;
}

.btn-overlay {
    display: block;
    absolute: top left z-index 50;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    cursor: pointer;
}
.btn-overlay:before {
    content: '';
    absolute: top left right bottom z-index 99;
    border: 1px solid #666;
}

.banner {
    position: relative;
    height: 100%;
    background: #000;
}

/* Frame Base Style
--------------------------------------------------------------------------- */
.frame {
    absolute: top left right bottom;

    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
}

/* Frame 1
--------------------------------------------------------------------------- */
.frame1-text {
    absolute: top 10px left 10px;
}

/* Frame 2
--------------------------------------------------------------------------- */
.frame2-text {
    absolute: top 10px left 10px;
}

/* Frame 3
--------------------------------------------------------------------------- */
.frame3-text {
    absolute: top 10px left 10px;
}

/* Frame 4
--------------------------------------------------------------------------- */
.frame4-text {
    absolute: top 10px left 10px;
}

/* Utility Styles
--------------------------------------------------------------------------- */
.u-hide {
    display: none;
}
